.titulo_body{
    display: none;
}


/*Começo header*/


header,footer{
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(4px);
}

.header-link{
    font-weight: bold;
    color: white;
    text-decoration: none;
    font-size: 1em;
}

.header-link:hover{
    color: paleturquoise;
}

/*Opções da area central do cabeçalho*/

p.logo{
    color: white;
}

span.destaque{
    color: paleturquoise;
}

/*fim header*/

/*main*/
h3,p{
    color: white;

}

.capa{
    border-radius: 5px;
}

.capa:hover{
    border: 1px solid paleturquoise;
    
}

/*rodape*/
.titulo-rodape{
    color: white;
}

.icone-rodape{
    color: white;
}

/*modal*/

.cover-art:hover{
    cursor: pointer;
}

.modal-title{
    color: white;
}



